<table>
		<thead>
			<tr>
				<th>Filename</th>
			</tr>
		</thead>
		<tbody>
			<% @userfiles.each do |uf| %>
			<tr>
				<td><%= uf.key.sub(current_user.folder + '/', '')%></td>
				<td>
					<%= link_to "Download", downlod_url_for(uf.key)%>
					<%= link_to "Delete", "/boxfile/delete/?file_id=" + uf.key, :confirm => "Are you sure you want to delete?"%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
<%= link_to "Upload a file", add_path %>