<style>
body,html,main{
	 background-color: #16b1b5;
}
</style>

<div class = "newupload">

<h1>Upload Your Images</h1>

<%= render 'form' %>

<%= link_to 'Back', assets_path, :class => "typography" %>

</div>
