

    <div class="container">
        <div class="row">
          <div class="span9">
            <%= bootstrap_flash %>
            
          </div>
          <div class="span12 home">
            
            <div id="fullscreen_bg" class="fullscreen_bg"/>

				<div class="container">

					<form class="form-signin">
						<h1 class="form-signin-heading text-muted">Sign In</h1>
						<input type="text" class="form-control" id="email-input" placeholder="Email address" required="" autofocus="">
						<input type="password" class="form-control" id="password-input" placeholder="Password" required="">
						<button class="btn btn-lg btn-primary btn-block" id="sign_in" type="submit">
							Sign In
						</button>
					</form>

				</div>


        </div><!--/row-->

      <footer>
        <p>&copy; ImageSpace Inc 2014</p>
      </footer>

    </div> <!-- /container -->

